body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1e1e2d;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden; /* Prevent scrollbars */
}

h1 {
    margin-bottom: 60px;
}

.container {
    text-align: center;
    max-width: 95%;
    box-sizing: border-box;
}

.controls {
    margin-bottom: 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background: #426fc5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between text and icon */
    transition: all 0.2s ease-in-out;
    width: 200px; /* Fixed width for alignment */
}

/* Dropdown icon */
.dropdown-icon {
    margin-left: 10px;
    font-size: 0.8rem; /* Smaller than text */
    transition: transform 0.2s ease; /* Add rotation effect */
}

/* Rotate icon on open */
.dropdown.show .dropdown-icon {
    transform: rotate(180deg); /* Rotate arrow upward */
}

.dropdown-content {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: #2f2f3e;
    border-radius: 5px;
    z-index: 1;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px 0;
    width: 200px;
}

.dropdown-option {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.dropdown-option:hover {
    background-color: #4a55c3;
}

.dropdown.show .dropdown-content {
    display: block;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color:  #426fc5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.array-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 80%;
    height: 300px;
    margin: auto;
    overflow: hidden;
}

.bar {
    margin: 0 2px;
    background-color: darkslateblue;
    width: calc(100% / 10 - 4px);
    transition: height 0.1s ease-in-out;
}

.bar.green {
    background-color: green;
}

.bar.red {
    background-color: red;
}

@media (max-width: 700px) {
    .controls {
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center align the items */
        gap: 10px; /* Add spacing between elements */
    }

    button {
        width: 55%; /* Ensure buttons and dropdown fit within the screen */
    }

}